<!DOCTYPE html>
<html lang="{{ page.language }}">
  <head>
    {% if page.description %}
      {% assign description = page.description %}
    {% else %}
      {% capture description %}{% include site-description.html %}{% endcapture %}
    {% endif %}

    {% capture title %}{% if page.title == "none" %}{{ site.title }} - {{ description }}{% else %}{{ page.title }} | {{ site.title }}{% endif %}{% endcapture %}
    {% capture relative_path %}{{ page.url | remove_first: page.path_prefix | remove: "index.html" }}{% endcapture %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% if page.redirect %}
      <meta http-equiv="refresh" content="0;URL={{ page.redirect }}">
    {% endif %}

<!--
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">
    <link rel="icon" href="{{ site.baseurl }}/favicon.png">
-->

    <title>{{ title }}</title>
    {% asset "windows-luajit-installer.css" %}
    {% asset "syntax.css" %}
    <meta name="description" content="{{ description | strip_newlines }}">
  </head>

  <body>
    <nav role="navigation">
      <div class="container-fluid">
        {% include navbar-content.html %}
      </div>
    </nav>

    <div class="content">
      {{ content }}
    </div>

    <footer>
      <hr>
      <div>
        {% include contribute.html %}
        <p class="copyright">&copy; 2020-{{ site.time | date: "%Y" }} <a href="https://gitlab.com/clear-code/windows-luajit-installer/-/graphs/master">Windows LuaJIT Installer developers</a></p>
      </div>
    </footer>

    <script src="//code.jquery.com/jquery.js"></script>
    {% asset "windows-luajit-installer.js" %}
  </body>
</html>
